@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
    width: 100%;
    height: 100vh;
    
}
@media screen and (min-width:2000px) {
  
    body{
        width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }
    .parallax{
        border-radius: 10px;
    }
}

.parallax {

    background-image: url(./images/slideshow7.png);
    backdrop-filter: invert(70%);
    backdrop-filter: contrast(80%);
    min-height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 70%;
}
.sidebar {
    height: 380px;
    width: 0;
    position: fixed;
    z-index: 99999999999999;
    top: 15%;
    left: 10%;
  
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  
  
  
  
    box-shadow: 0px 8px 8px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
  
  }
  
  .sidebar:hover {
    /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4); */
  }
  
  .sidebar a {
    padding-top: 16px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 32px;
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 16px;
    color: #000;
    display: block;
    transition: 0.3s;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
  
    margin-left: 4px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    transition-duration: 0.5s;
  
  }
  
  .sidebar a:hover {
    color: #fff;
  
    background-color: orangered;
  
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* .openbtn { 
  font-size: 30px;
  cursor: pointer;
  background-color:#fbf390;
  
  color: black;
  padding: 0px 20px;
  border: none;
  }
  */
  .openbtn:hover {
    color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  .nav-icons {
    height: 20px;
    width: 20px;
    border-radius: 6px;
    background-color: crimson;
    padding-left: 6px;
    background-image: url('./images/meditation.png');
  
    background-size: cover;
    color: #000328;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
        left: 0%;
        top: 10%;
    }
  
    .sidebar a {
        font-size: 18px;
    }
  }
  
  .nav-icon {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-color: crimson;
    margin-left: 4px;
    display: inline-block;
    background-image: url('./images/meditation.png');
    background-size: cover;
  
  
  }
  
  .topline {
    color: #111;
    font-family: 'poppins', sans-serif;
  }
  
  .contactcontainer {
    height: 100px;
    width: 200px;
    background-color: crimson;
    position: relative;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 6px;
  
  }
  
  .circlenav {
    position: absolute;
    top: -30px;
    left: 60px;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 8px;
  }
  
  
  
  
  
  
  
  
  
  #navbar {
    background-color: #fff;
    /* background-color: white; */
    position: fixed;
    top: 0;
    width: 60%;
    height: 80px;
    max-width: 500px;
    z-index: 9999999;
    border-radius: 50px;
    display: block;
    transition: top 0.3s;
    margin-left: 30%;
    border-bottom: 1px solid #ccc;
    box-shadow: -3px 16px 38px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
  
  }
  
  #navbar:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    transition-duration: 2s;
  }
  
  
  #navbar a {
    float: right;
    position: relative;
    color: #111;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  
    text-decoration: none;
    font-size: 17px;
    padding-top: 30px;
  
  
  
    padding-right: 20px;
    /* border-bottom: 5px solid #000; */
  
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Josefin Sans', sans-serif; */
  }
  
  #navbar h1 {
    font-weight: 700;
    font-size: 14px;
    color: #111;
    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
    position: relative;
    display: inline-block;
    padding-left: 50px;
    padding-top: 15px;
  
    -webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
  
  }
  
  .tem-icon {
    background-image: url(./images/logo.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    left: 0px;
    top: 12px;
    padding-left: 20px;
    box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.5);
    -webkit-animation: rotate-center 2s ease-in-out 4s infinite backwards;
    animation: rotate-center 2s ease-in-out 4s infinite backwards;
  
  }
  
  
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  
  
  
  @-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
  
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
  }
  
  @keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
  
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
  }
  
  
  
  @media screen and (max-width:500px) {
    #navbar {
        width: 100%;
        margin-left: -6px;
  
    }
  
    .tem-icon {
        font-size: 14px;
    }
  
  
  }
  
  @media screen and (max-width:365px) {
  
    #navbar h1 {
        font-size: 12px;
        margin-top: 5px;
        margin-left: 5px;
        padding-left: 50px;
    }
  
  
  
  }
  
  
  
  @media screen and (max-width:335px) {
    #navbar a {
        /* padding-left: -24px; */
        font-size: 12px;
        padding-top: 30px;
        padding-right: 15px;
  
  
    }
  
    #navbar h1 {
        font-size: 10px;
        margin-top: 5px;
        margin-left: 5px;
        padding-left: 48px;
    }
    #navbar{
      width: 98%;
      margin-left: 1%;
    }
  
  
  
  }
  
  
  @media screen and (max-width:272px) {
    #navbar {
        height: 70px;
        margin-top: 10px;
    }
  
    #navbar a {
        padding-left: -40px;
        font-size: 12px;
        padding-top: 30px;
        padding-right: 10px;
  
  
    }
  
    #navbar h1 {
        font-size: 12px;
        margin-top: 5px;
        margin-left: 5px;
        padding-left: 48px;
        padding-top: 5px;
    }
  
    .tem-icon {
        top: 10px;
        left: 3px;
    }
  
  
  }
  
  
  #navbar a:hover {
  
    color: crimson;
    /* border-bottom: 2px solid crimson; */
    transition-duration: 0.4s;
  }
  
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }










.tablink {

    color: black;
    float: left;
    font-family: 'Poppins', sans-serif;



    outline: none;
    cursor: pointer;
    padding-top: 10px 20px;
    font-size: 17px;
    width: 30%;
    margin-left: 10%;
    margin-top: 10px;

    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;



    background-color: #ffffff;
    text-align: left;
    padding-left: 4px;
    font-weight: 700;
    border-radius: 4px;



}

.tablink:hover {

    transition-duration: 0.5s;
    border-bottom: 2px solid #00ee;
    background-color: crimson;
}

/* Style the tab content */
.tabcontent {
    color: black;
    display: none;
    /* position: relative; */
    width: 90%;
    margin-left: 5%;
    /* height: 200px; */
    text-align: center;
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 0, 0.4);
    margin-top: 4px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.1);
    font-weight: 500;
}

.tabcontent .tab-text {
    /* background-color: crimson; */
    /* position: absolute; */
    width: 100%;


}

.tabcontent .tab-text h3 {

    margin-top: 20px;
    left: 60px;
    font-weight: 600;


}





#english {
    background-color: #ffffff;
    background-image: url('./images/bluebanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#bengali {
    background-image: url('./images/card3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.top {
    position: relative;
}

.notice {
    width: 90%;
    margin-left: 5%;
    max-width: 450px;
    background-color: #fff;
    border-radius: 10px;
    height: 400px;
    position: relative;
    margin-top: 10px;
    border:2px solid #aaa;
 
    background-size: contain;
    display: inline-block;
    box-shadow:0px 8px 8px rgb(0, 0, 0, 0.4);



}

.subnotice {
    position: absolute;
    width: 90%;
    height: 200px;
    margin-top: 10px;
    background-color: #fafcfc;
    margin-left: 5%;
    border-radius: 6px;
    box-shadow:0px 8px 8px rgb(0, 0, 0, 0.4);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;


}



.circle {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-image: url(./images/megaphone.png);
    background-size: contain;
}

.noticedescription {
    position: absolute;
    top: 10px;
    left: 70px;
    height: 40px;
    width: 180px;
    display: inline-block;
    font-size: 12px;




}

.noticeheader {
    font-size: 18px;
    font-weight: 800;
    padding-left: 4px;
}

.noticesubheader {
    font-size: 14px;
    margin-top: -10px;
    font-weight: 700;
    padding-left: 4px;
}

.subnotice2 {
    position: absolute;
    width: 90%;
    height: 150px;
    margin-top: 240px;
    background-color: #0a1d37;
    margin-left: 5%;
    border-radius: 6px;
    color: white;

}

.subnotice2>p {
    font-weight: 300;
    font-size: 12px;
    margin-left: 4px;
    color: #f1f1f1;
    margin-right: 2px;

}

.subnotice2>p>span {

    font-weight: 700;
    color: #ffffff;
}

.noticelink {

    background-color: #001219;
    color: #fafcfc;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    text-decoration: none;
    top: 130px;
    left: -40px;

}

.maindiv {
    max-width: 250px;
    width: 40%;
    /* background-image: url(./images/card4.png); */
    background-size: cover;
    height: 400px;
    display: inline-block;

    background-color: #000;

    margin-left: 10px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.6);


}

@media screen and (max-width:596px) {
    .maindiv {
        max-width: 400px;
        width: 100%;
        margin-left: 30px;

    }

}

@media screen and (max-width:450px) {
    .maindiv {

        width: 95%;
        margin-left: 2.5%;

    }

}


@media screen and (max-width:360px) {
    .maindiv {
        max-width: 262px;
        width: 100%;
        margin-left: 10px;

    }

}

.contain {
    width: 100%;
    height: 100%;
}

.maindiv2 {

    width: 350px;
    height: 400px;
    display: inline-block;
    background-color:#fff;
    border-radius: 6px;
    /* background-image: url(./images/bluebanner.png); */
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left:10px;



}
@media screen and (max-width:1400px) {
    .maindiv{
        width:400px;
    }
    .maindiv2{
        width:450px;
    }
}
@media screen and (max-width:1290px) {
    .maindiv{
        width:400px;
    }
    .maindiv2{
        width:425px;
    }
}
@media screen and (max-width:1270px) {
    .maindiv{
        width:400px;
    }
    .maindiv2{
        width:30%;
    }
}
@media screen and (max-width:1127px) {
    .maindiv{
        width:50%;
        max-width:350px;
        
    }
    .notice{
        margin-left:14%;
    }
    .maindiv2{
        width:80%;
        margin-left:10%;
    }
}
@media screen and (max-width:710px) {
    .maindiv{
        width:30%;
        max-width:280px;
        margin-left:5%;
    }
    .maindiv2{
        width:55%;
        margin-left:5%;
        
    }
}
@media screen and (max-width:1050px) {
    .maindiv{
        width:50%;
        max-width:350px;
        
    }
    .notice{
        margin-left:10%;
    }
    .maindiv2{
        width:85%;
        margin-left:10%;
    }
}
@media screen and (max-width:710px) {
    .maindiv{
        width:30%;
        max-width:280px;
        margin-left:5%;
    }
    .maindiv2{
        width:55%;
        margin-left:5%;
        
    }
}
@media screen and (max-width:915px) {
    .maindiv{
        width:90%;
        max-width:770px;
        margin-left:10%;
        
    }
    .notice{
        margin-left:10%;
        width:85%;
        max-width:770px;
    }
    .maindiv2{
        width:85%;
        margin-left:10%;
    }
}
@media screen and (max-width:710px) {
    .maindiv{
        width:30%;
        max-width:280px;
        margin-left:5%;
    }
    .maindiv2{
        width:55%;
        margin-left:5%;
        
    }
}
@media screen and (max-width:544px) {
    .maindiv{
        width:90%;
        margin-left:5%;
        max-width: 465px;
        background-image: url(./images/megaphone.png);
        background-position:100% 100%;

        background-size:80% 60%;
        background-repeat: no-repeat;
       
    }
    
}



@media screen and (max-width:360px) {
    .maindiv2 {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }


}

@media screen and (max-width:500px) {
    .maindiv2 {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .notice{
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
    }

}

.submaindiv2 {
    width: 95%;
    height: 185px;
    margin: 2.5%;
    background-color: white;
    border-radius: 4px;
    background-image: url(./images/card.png);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border:2px solid #808080;



}

.submaindiv22 {
    width: 95%;
    margin: 2.5%;
    background-color: white;
    border-radius: 4px;
    height: 185px;
    background-image: url(./images/card5.png);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border:2px solid #808080;




}


.intro {
    width: 90%;
    height: 400px;
    color: black;
    background-color: white;
    margin-left: 5%;
  
    padding-left: 4px;
    padding-top: 10px;
    /* border: 1px solid black; */
    border-radius: 6px;
     background-image: url(./images/meditation.png);
    background-size: 23% 60%;
    background-repeat: no-repeat;
    background-position: 100% 100%; 
    position: relative;
    /* box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3); */
    margin-bottom: 10px;
}

@media screen and (max-width:360px) {
    .intro {
        background-size: 40% 30%;
        height: 530px;
       

    }
   
}

.intro h1 {
    font-size: 24px;
    margin: 2px;
    text-align: justify;
}
@media screen and (max-width:600px) {
    .intro h1 {
       font-size:16px;

    }
   
}



.contactus {
    width: 90%;
    margin-left: 5%;
    height: 300px;
    background-image: url(./images/contacts.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 6px;
    z-index:1200;
    position: relative;
}

@media screen and (max-width: 420px) {
    .contactus {
        background-size: 60% 50%;
        background-position: 100% 100%;
    }

}

.note {
    width: 20px;
    height: 85px;
    font-size: 12px;
    background-color: crimson;
    position: absolute;
    top: 10px;
    left: -20px;
    padding-left: 8px;
}


#open-button {
    background-color: #000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    position: absolute;
    bottom: 23px;
    right: 48px;
    width: 240px;
    display: block;
    margin-left: 30px;
    box-shadow: 0px 8px 8px rgb(0, 0, 0, 0.4);

}

@media screen and (max-width:420px) {
    #open-button {
        bottom: -70px;
        right: 10px;
    }

}


/* The popup form - hidden by default */
.form-popup {
    display: none;
    
    bottom: 0;
    right: 15px;
    border: 3px solid #000000;
    z-index: 9;
    background-image: url(./images/bluebanner.png);
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;

}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;


}

.form-container h1 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    border-left: 2px solid #000000;
    padding-left: 4px;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;

    border-bottom: 1px solid #000000;
    border-radius: 4px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #fff;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color:#fafcfc;
    color: green;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #111;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}
.container-2{
	max-width: 1170px;
	margin:auto;
    font-family: 'Poppins', sans-serif;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col-a{
  width: 22%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: -15%; 
  padding: 0 5px;

}
.footer-col{
   width: 20%;
   margin-top: 10px ;
   margin-bottom: 10px; 
   margin-left: 1%; 
   padding: 0 5px;
}

.footer-col-1{
  width: 32%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 1%;
  padding: 0 10px;
  float:right;
}
.footer-col-a h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
    margin-left:-15%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
    margin-left:-15%;
}

.footer-col-1 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
}
.footer-col-a h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col-1 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col-a ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col-1 ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col-a ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
    margin-left: -40px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
    margin-left: -40px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col-1 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
  margin-left: 3px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col-a ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col-1 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social-links h3{
  margin-top: -20px;
  font-size: 16px;
  padding-top: 20px;
	color: #bbbbbb;
  font-weight: 300;
}
.social-links h2{
  font-size: 16px;
  color: #bbbbbb;
  
  font-weight: 300;
}
.social-links h5{
  font-size: 16px;
  color: #bbbbbb;
  padding-top: 3px;
  font-weight: 300;
}
.social-links a{
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
}
.footer-col-photo{
  width: 20%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 10px;

  /* margin-right: 5px;  */
  padding: 0 5px;
}


.photo-quotes{
  
  width: 240px;
  right: 10%;
}
.photo-quotes img {
  width: 240px;
  height: 240px;
  border-radius: 6px;
}

/*responsive*/

@media screen and (max-width: 1590px) {

  
.container-2{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col-a{
  width: 20%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 10px;
  margin-right: 5px; 
  padding: 0 5px;
}

.footer-col{
   width: 20%;
   margin-top: 10px ;
   margin-bottom: 10px; 
   margin-left: 10px;
   margin-right: 5px; 
   padding: 0 5px;
}

.footer-col-1{
  width: 28%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 10px;
  margin-right: 5px; 
  padding: 0 10px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
}

.footer-col-1 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col-1 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 80px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col-1 ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
    margin-left: -40px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col-1 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
  margin-left: 3px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col-1 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social-links h3{
  margin-top: -20px;
  font-size: 16px;
	color: #bbbbbb;
  font-weight: 500;
}
.social-links h2{
  font-size: 16px;
  color: #bbbbbb;
  font-weight: 300;
}
.social-links h5{
  font-size: 16px;
  color: #bbbbbb;
  font-weight: 300;
}
.social-links a{
  font-size: 16px;
  color: #bbbbbb;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.social-links a:hover{
  color: #ffffff;
	padding-left: 8px;
}
.footer-col-photo{
  width: 22%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 10px;
  /* margin-right: 5px;  */
  padding: 0 5px;
}

.photo-quotes{
  
  width: 240px;
  right: 5%;
}
.photo-quotes img {
  width: 240px;
  height: 240px;
  border-radius: 6px;
}


  
}

@media(max-width: 1067px){
  .footer-col{
    width: 42%;
    margin-bottom: 30px;
    margin-left:5%;
}
.footer-col-a{
    margin-left:6%;
    width:30%;

}
.footer-col-a h4{
    margin-left:-8%;
}
.footer-col h4{
    margin-left:-12%;
}
.footer-col-1{
  width: 46%;
}
.footer-col-a{
  width: 46%;
}
}
@media(max-width: 574px){
  .footer-col-a{
    margin-left:8%;
}
.footer-col-a li{
    margin-left:14%;
}
.footer-col{
    margin-left:8%;
}
.footer-col li{
    margin-left:14%;
}
.footer-col h4{
    margin-left:-8%;
}
.footer-col-a h4{
    margin-left:-8%;
}
.footer-col-1{
  width: 100%;
}

}
@media(max-width: 300px){
    .footer-col-a{
        margin-left:8%;
    }
    .footer-col-a li{
        margin-left:25%;
    }
    .footer-col{
        margin-left:8%;
    }
    .footer-col li{
        margin-left:25%;
    }
    .footer-col h4{
        margin-left:-8%;
    }
    .footer-col-a h4{
        margin-left:-8%;
    }
    .footer-col-1{
      width: 100%;
    }
    

}





.stayupdated {
    color: #111;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top:100px;
}

.wegotthis {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom:100px;
}

.menu {
    position: fixed;
    width: 100%;

    max-width: 600px;
    min-width: 250px;
    height: 60px;
    bottom: 0px;
    /* border-radius:8px; */
    background-color: #fff;
    border-top: 1px solid #111;

    z-index: 9999999;
    display: none;
    margin-left: 0px;
}

.icon {

    width: 24%;
    display: inline-block;
    font-size: 25px;
    color: black;
    /* border-right:1px solid #eee; */
    text-align: center;
    margin-top: 4px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    /* border-bottom:4px solid #F3B700; */



}

.menu a {
    text-decoration: none;
    color: #64645e;
    font-family: 'poppins', sans-serif;
}

@media screen and (max-width:400px) {

    .menu {
        width: 100%;


    }

    .icon {
        width: 24%;
    }
}

@media screen and (max-width:300px) {

    .menu {
        width: 100%;





    }

    .icon {
        width: 23%;
    }



}

@media screen and (max-width:400px) {

    .menu {
        width: 100%;
        display: block;





    }



}

