@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    width: 100%;
    /* height: 100vh; */
  
    overflow-x: hidden;
/* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
  

    /* background-color: aqua; */
    
}
@media screen and (min-width:2000px) {
  
    body{
        width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }
    .parallax{
        border-radius: 10px;
    }
}


.parallax {

    background-image: url(./images/slideshow4.png);
    min-height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 70%;
}
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  


 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  

@media screen and (max-width:500px) {
    .parallax{
        
        background-size: 100% 50%;
        background-color: #000;
    }

    
    
}

.faq-big{
    font-family: 'Poppins', sans-serif;

}
.sidebar {
    height: 380px;
    width: 0;
    position: fixed;
    z-index: 99999999999999;
    top: 15%;
    left: 10%;

    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;




    box-shadow: 0px 8px 8px rgb(0, 0, 0, 0.5);
    border-radius: 8px;

}

.sidebar:hover {
    /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4); */
}

.sidebar a {
    padding-top: 16px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 32px;
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 16px;
    color: #000;
    display: block;
    transition: 0.3s;
    font-family: 'poppins', sans-serif;
    font-weight: 500;

    margin-left: 4px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    transition-duration: 0.5s;

}

.sidebar a:hover {
    color: #fff;

    background-color: orangered;

}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* .openbtn { 
font-size: 30px;
cursor: pointer;
background-color:#fbf390;

color: black;
padding: 0px 20px;
border: none;
}
*/
.openbtn:hover {
    color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.nav-icons {
    height: 20px;
    width: 20px;
    border-radius: 6px;
    background-color: crimson;
    padding-left: 6px;
    background-image: url('./images/meditation.png');

    background-size: cover;
    color: #000328;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
        left: 0%;
        top: 10%;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.nav-icon {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-color: crimson;
    margin-left: 4px;
    display: inline-block;
    background-image: url('./images/meditation.png');
    background-size: cover;


}

.topline {
    color: #111;
    font-family: 'poppins', sans-serif;
}

.contactcontainer {
    height: 100px;
    width: 200px;
    background-color: crimson;
    position: relative;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 6px;

}

.circlenav {
    position: absolute;
    top: -30px;
    left: 60px;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 8px;
}









#navbar {
    background-color: #fff;
    /* background-color: white; */
    position: absolute;
    top: 300px;
    width: 60%;
    height: 80px;
    max-width: 1000px;
    z-index: 9999999;
    border-radius: 50px;
    display: block;
   
    margin-left: 24%;
    border-bottom: 1px solid #ccc;
    box-shadow: -3px 16px 38px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    -webkit-animation: bounce-top 2s 1s alternate forwards;
    animation: bounce-top 2s 1s alternate forwards;

}


#navbar:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    transition-duration: 2s;
}


#navbar a {
    float: right;
    position: relative;
    color: #111;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

    text-decoration: none;
    font-size: 17px;
    padding-top: 30px;



    padding-right: 15px;
    /* border-bottom: 5px solid #000; */

    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Josefin Sans', sans-serif; */
}

#navbar h1 {
    font-weight: 700;
    font-size: 14px;
    color: #111;
    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
    position: relative;
    display: inline-block;
    padding-left: 50px;
    padding-top: 15px;

    -webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;


}

.tem-icon {
    background-image: url(./images/logo.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    left: 0px;
    top: 14px;
    padding-left: 20px;
    box-shadow: 0px 8px 8px rgb(0, 0, 0, 0.4);
    -webkit-animation: rotate-center 2s ease-in-out 4s infinite backwards;
                animation: rotate-center 2s ease-in-out 4s infinite backwards;
}

/* ----------------------------------------------
* Generated by Animista on 2021-7-22 13:0:21
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation text-focus-in
* ----------------------------------------
*/
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



@media screen and (max-width:500px) {
    #navbar {
        width: 100%;
        margin-left: -6px;

    }

    .tem-icon {
        font-size: 14px;
    }


}

@media screen and (max-width:365px) {

    #navbar h1 {
        font-size: 12px;
        margin-top: 5px;
        margin-left: 5px;
        padding-left: 50px;
    }



}



@media screen and (max-width:335px) {
  #navbar{
    width:98%;
    margin-left:1%;

  }
    #navbar a {
        /* padding-left: -24px; */
        font-size: 12px;
        padding-top: 30px;
        padding-right: 10px;


    }

    #navbar h1 {
        font-size: 10px;
        margin-top: 5px;
        margin-left: 5px;
        padding-left: 48px;
    }



}


@media screen and (max-width:272px) {
    #navbar {
        height: 70px;
        margin-top: 10px;
        width:98%;
        margin-left:1%;
    }

    #navbar a {
        padding-left: -40px;
        font-size: 12px;
        padding-top: 30px;
        padding-right: 10px;


    }

    #navbar h1 {
        font-size: 12px;
        margin-top: 5px;
        margin-left: 5px;
        padding-left: 48px;
        padding-top: 5px;
    }

    .tem-icon {
        top: 10px;
        left: 3px;
    }


}


#navbar a:hover {

    color: crimson;
    /* border-bottom: 2px solid crimson; */
    transition-duration: 0.4s;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}



.faq{
     position: relative;
     width: 280px;
}
.faq h1{
    font-size: 22px;
    padding-top: 60px;
    padding-left: 40px;


}
.faq-circle{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(./images/question.png);
    width: 50px;
    height: 50px;
    background-size: contain;

}
.container{
    position: relative;
    display: inline-block;
    border-top: 2px solid black;
    margin-left: 5%;
    width: 90%;
    margin-top: 30px;
}
.container h3{
    padding-top: 15px;
    margin-left: 40px;
}
.content{
    position: relative;
    float: right;
    width: 480px;
    
}
.content p{
    margin-top: -27px;
    margin-right: 50px;
    
}

@media screen and (max-width:780px) 
{
    .content{
        width: 100%;
        margin-top: 40px;
        /* left: 30px; */
    }
    .content p{
        margin-left: 40px;
        font-size: 14px;
    }
    
}

.big-card{
    position: relative;
    margin-top: 50px;
    width: 100%;

    /* font-family: 'Josefin Sans', sans-serif; */
}

.card-contact {
    width: 95%;
    max-width: 320px;
    height: 500px;
    margin-left: 2.5%;
    /* background-color: #ffa600; */
    background: rgb(249,172,157);
    background: linear-gradient(48deg, rgba(249,172,157,1) 37%, rgba(247,217,196,1) 99%, rgba(243,255,250,1) 100%); 
    
    

    border-radius: 10px;
    margin-top: 80px;
    display: inline-block;

    position: relative;
    border-right: 10px solid #06cdff;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.5);

}

.icon {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    left: 10px;
    top: -40px;
    border-radius: 6px;
    background-image: url('./images/member2.jpeg');
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    box-shadow:0px 10px 15px rgba(0, 0, 0, 0.5);

}

.card-contact a {
    height: 40px;
    width: 220px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    position: absolute;

    background-color: #fff;
    text-align: center;
    left: -10px;
    top: 120px;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
}

.card-contact h2 {
    position: absolute;
    top: 58px;
    left: 34px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;

}

.circle1 {
    height: 40px;
    width: 40px;
    background-color: #fff;
    position: absolute;
    top: 70px;
    left: -10px;
    border-radius: 6px;
}

.circle4 {
    position: inherit;
    top: 70%;
    right: -8%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: green;

}

.circle2 {
    height: 40px;
    width: 140px;
    background-color: #fff;
    color:  rgb(9, 245, 21);
    position: absolute;
    top: 180px;
    left: -10px;
    padding-right: 10px;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  
}

.circle3 {
    height: 40px;
    width: 95px;
    background-color: #fff;
    position: absolute;
    color: #000;;
    top: 180px;
    left: 115px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  
}

.note {
    position: absolute;
    font-weight: 500;
    color: #f8f6f6;
    font-size: 16px;
    width: 240px;
    top: 260px;
    left: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.note1 {

    position: absolute;
    font-weight: 700;
    color: white;
    font-size: 16px;
    width: 240px;
    top: 290px;
    left: 10px;
    font-family: 'Josefin Sans', sans-serif;

}

.contact1 {

    width: 95%;
    max-width: 320px;
    height: 500px;
    margin-left: 2.5%;
    /* background-color: #000000; */
    background: #f2709c;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #ff9472, #f2709c); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
background: rgb(249,172,157);
background: linear-gradient(141deg, rgba(249,172,157,1) 37%, rgba(255,112,121,1) 99%, rgba(243,255,250,1) 100%);
    border-radius: 10px;
    margin-top: 80px;
    display: inline-block;

    position: relative;
    border-right: 10px solid #16db93;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.5);


}

.contact2 {
    width: 25%;
    min-width:270px;
    max-width: 500px;
    height: 500px;
    
    margin-left: 2.5%;
    background: linear-gradient(48deg, rgba(249,172,157,1) 37%, rgba(247,217,196,1) 99%, rgba(243,255,250,1) 100%); 
    
    border-radius: 10px;
    margin-top: 80px;
    display: inline-block;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.5);

    position: relative;
    border-right: 10px solid #c77dff;

}

.circle5 {
    height: 40px;
    width: 215px;
    background-color: #55D6C2;
    color: white;
    position: absolute;
    top: 340px;
    left: -10px;
    border-radius: 6px;
    font-size: 14px;
    border-right: 10px solid #000;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.5);
}

.circle6 {
    height: 40px;
    width: 215px;
    background-color: #fff;
    position: absolute;
    top: 400px;
    left: -10px;
    border-radius: 6px;
    border-right: 10px solid crimson;
    color:#000;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.5);
}

.icon1 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    background-image: url(./images/debit-card.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    left: 10px;
    top: -40px;
    border-radius: 6px;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.5);

}

.div1 {
    background-color: #fffffd;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    position: absolute;
    top: 80px;
    left: -10px;
    border-radius: 6px;
    background-size: 50% 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.5);


}

.div2 {
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    position: absolute;
    top: 160px;
    left: -10px;
    border-radius: 6px;
    box-shadow:0px 10px 6px rgba(0, 0, 0, 0.5);



}

.div1 h1 {

    font-size: 14px;
}

.div2 h1 {
    font-size: 14px;
}

.div3 {
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    position: absolute;
    top: 240px;
    left: -10px;
    border-radius: 6px;
    box-shadow:0px 10px 6px rgba(0, 0, 0, 0.5);



}

.div3 h1 {
    font-size: 14px;
}

.div4 {
    border: 2px solid #ffffff;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 320px;
    left: 30px;
    border-radius: 6px;
    background-image: url('./images/contacts.png');
    background-size: 37% 50%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    box-shadow:0px 10px 6px rgba(0, 0, 0, 0.5);

}

.div4 h1 {
    font-size: 16px;
    color: #ffffff;
    padding-top: 30px;
    padding-left: 4px;

}

.queries {
    height: 44px;
    width: 236px;
    position: absolute;
    /* background-color: coral; */
    background-color: #ffffff;
    top: 10px;
    left: -5px;
    font-size: 16px;
    padding-top: 10px;
    border-radius: 6px;
    padding-left: 16px;
    font-family: 'poppins', sans-serif;
    font-weight:700;
    border-right:6px solid #6DD3CE;
    box-shadow:10px 14px 6px rgba(0, 0, 0, 0.5);

}

.queries1 {
    height: 150px;
    width: 230px;
    position: absolute;
    /* background-color: coral; */
    background-color: #ffffff;
    top: 90px;
    left: 2px;
    font-size: 16px;
    padding-top: 10px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    padding-left: 6px;
    border-right: 6px solid #52b788;
    font-family: 'Josefin Sans', sans-serif;

}

.queries2 {
    height: 120px;
    width: 230px;
    position: absolute;
    /* background-color: coral; */
    background-color: #fff;
    top: 260px;
    left: 2px;
    font-size: 16px;
    padding-top: 10px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    padding-left: 6px;
    border-right: 6px solid #52b788;
    font-family: 'Josefin Sans', sans-serif;

}

.queries3 {
    height: 120px;
    width: 230px;
    position: absolute;
    background-color: #ffffff;
    top: 390px;
    left: 2px;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    padding-left: 6px;
    border-right: 6px solid #52b788;
    font-family: 'Josefin Sans', sans-serif;

}

.comingsoon {
    width: 90%;
    height: 200px;
    background: #fceabb,;
    ;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f8b500, #fceabb);
    ;
    /* Chrome 10-25, Safari 5.1-6 */
  
    ;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 200px;
    

    border-radius: 6px;
    font-family: 'Poppins', sans-serif;

    padding-left: 4px;

}

.comingsoon h1 {
    font-weight: 500;
    font-size: 32px;
    color: rgb(31, 28, 28);
    padding-top: 10px;
    margin-left:20px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);

}

.comingsoon h2 {
    font-weight: 500;
    font-size: 18 px;
    color: #111;
    margin-right: 50px;
    margin-left:20px;

}

.stayupdated {
    color: #111;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    
}

.wegotthis {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}



@media only screen and (max-width:380px) {
    .comingsoon h1 {
        font-weight: 500;
        font-size: 16px;
        margin-top:20px;
        

    }

    .comingsoon h2{ 
        font-size:14px;
    }

}
@media only screen and (max-width:460px) {
    .comingsoon h1 {
        font-weight: 500;
        font-size: 16px;
        margin-top:20px;
        

    }

    .comingsoon h2{ 
        font-size:14px;
    }

}
.modal {
    display: none;

    position: fixed;

    z-index: 999999999;

    padding-top: 100px;

    left: 0;
    top: 0;
    width: 100%;

    height: 100%;

    overflow: auto;

    background-color: rgb(0, 0, 0);

    background-color: rgba(0, 0, 0, 0.4);

}



.modal-content {
    position: relative;
     background-color: #A594F9;
   
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    border-radius:6px;

    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.box-3{
    position: relative;
    width: 70px;
    margin-left: 150px;
    display: inline-block;
    height: 70px;
  
    top: -25px;
    /* background-color: rgba(255,255,255,0.05);   */
    /* background-color: rgb(48, 14, 241); */
    
    /* margin-bottom: 20px; */
    margin-top: 40px; 
    margin-bottom: 40px;
    /* margin-right: 40px; */
    /* margin-bottom: 20px; */
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 10px;
    /* display: flex; */
    
    /* backdrop-filter: blur(10px); */
    transition: 1s;
    
  }
  .box-3:hover {
    background-color: rgb(250, 55, 7);
    cursor: pointer;
    transform: scale(1.1);
  
  }
  .box-info
  {
    position: relative;
    width: 170px;
    display: inline-block;
    height: 70px;
  
    top: -75px;
    /* background-color: rgba(255,255,255,0.05);   */
    
    
    /* margin-bottom: 20px; */
    /* margin: 40px 5px 20px;  */
    /* margin-bottom: 20px; */
    /* box-shadow: 0 15px 35px rgba(0,0,0,0.2); */
    /* border-radius: 10px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(10px); */
    transition: 1s;
  }
 
  .box-info h4{
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .box-content-3 h3 i{
    padding: 10px;
    color: rgb(55, 25, 226);
  }
  .box-content-3 h3{
    padding: 5px;
    color: rgb(17, 16, 16);
    font-family: 'Josefin Sans', sans-serif;
  }
  @media screen and (max-width:300px){
    .box-info{
        width: 200px;
        height: 20px;
        margin-top: 20px;
    }
    .box-info h4{
        padding-left: 40px;
    }
    .box-3{
        margin-top: 30px;
    }
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -40px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    height: 60px;
    padding: 2px 16px;
    background-color: #F9DC5C;
    color: #011936;
}
.modal-header h2{

    margin-top: 10px; 
    font-family: 'Josefin Sans', sans-serif;

}
.modal-circle{
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-image: url(./images/contact.png);
    background-size: contain;
    margin-left: 150px;
}
.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #ED254E;
    color: white;
}

#myBtn {
    position: fixed;
    width:240px;
    height: 60px;
    font-size: 16px;
    margin-left:10px;
    background-color: #011936;
    color: white;
    border-radius: 2px;
    border: 1px solid black;
    display: inline-block;
    left: 0%;
    bottom: 0%;
    font-weight: 600;
    z-index:200;

}

/* #myBtn1 {
    position: fixed;
    width: 28%;
    height: 60px;
    font-size: 16px;
    margin-left: 2%;
    background-color: #3814d8;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    border: 1px solid black;
    display: inline-block;
    left: 68%;
    bottom: 0%;


} */

    
.container-2{
	max-width: 1170px;
	margin:auto;
    font-family: 'Poppins', sans-serif;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col-a{
  width: 22%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: -15%; 
  padding: 0 5px;

}
.footer-col{
   width: 20%;
   margin-top: 10px ;
   margin-bottom: 10px; 
   margin-left: 1%; 
   padding: 0 5px;
}

.footer-col-1{
  width: 32%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 1%;
  padding: 0 10px;
  float:right;
}
.footer-col-a h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
    margin-left:-15%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
    margin-left:-15%;
}

.footer-col-1 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
}
.footer-col-a h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col-1 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col-a ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col-1 ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col-a ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
    margin-left: -40px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
    margin-left: -40px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col-1 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
  margin-left: 3px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col-a ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col-1 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social-links h3{
  margin-top: -20px;
  font-size: 16px;
  padding-top: 20px;
	color: #bbbbbb;
  font-weight: 300;
}
.social-links h2{
  font-size: 16px;
  color: #bbbbbb;
  
  font-weight: 300;
}
.social-links h5{
  font-size: 16px;
  color: #bbbbbb;
  padding-top: 3px;
  font-weight: 300;
}
.social-links a{
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
}
.footer-col-photo{
  width: 20%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 10px;

  /* margin-right: 5px;  */
  padding: 0 5px;
}


.photo-quotes{
  
  width: 240px;
  right: 10%;
}
.photo-quotes img {
  width: 240px;
  height: 240px;
  border-radius: 6px;
}

/*responsive*/

@media screen and (max-width: 1590px) {

  
.container-2{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col-a{
  width: 20%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 10px;
  margin-right: 5px; 
  padding: 0 5px;
}

.footer-col{
   width: 20%;
   margin-top: 10px ;
   margin-bottom: 10px; 
   margin-left: 10px;
   margin-right: 5px; 
   padding: 0 5px;
}

.footer-col-1{
  width: 28%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 10px;
  margin-right: 5px; 
  padding: 0 10px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
}

.footer-col-1 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col-1 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 80px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col-1 ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
    margin-left: -40px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col-1 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
  margin-left: 3px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col-1 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social-links h3{
  margin-top: -20px;
  font-size: 16px;
	color: #bbbbbb;
  font-weight: 500;
}
.social-links h2{
  font-size: 16px;
  color: #bbbbbb;
  font-weight: 300;
}
.social-links h5{
  font-size: 16px;
  color: #bbbbbb;
  font-weight: 300;
}
.social-links a{
  font-size: 16px;
  color: #bbbbbb;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.social-links a:hover{
  color: #ffffff;
	padding-left: 8px;
}
.footer-col-photo{
  width: 22%;
  margin-top: 10px ;
  margin-bottom: 10px; 
  margin-left: 10px;
  /* margin-right: 5px;  */
  padding: 0 5px;
}

.photo-quotes{
  
  width: 240px;
  right: 5%;
}
.photo-quotes img {
  width: 240px;
  height: 240px;
  border-radius: 6px;
}


  
}

@media(max-width: 1067px){
  .footer-col{
    width: 42%;
    margin-bottom: 30px;
    margin-left:5%;
}
.footer-col-a{
    margin-left:6%;
    width:30%;

}
.footer-col-a h4{
    margin-left:-8%;
}
.footer-col h4{
    margin-left:-12%;
}
.footer-col-1{
  width: 46%;
}
.footer-col-a{
  width: 46%;
}
}
@media(max-width: 574px){
  .footer-col-a{
    margin-left:8%;
}
.footer-col-a li{
    margin-left:14%;
}
.footer-col{
    margin-left:8%;
}
.footer-col li{
    margin-left:14%;
}
.footer-col h4{
    margin-left:-8%;
}
.footer-col-a h4{
    margin-left:-8%;
}
.footer-col-1{
  width: 100%;
}

}
@media(max-width: 300px){
    .footer-col-a{
        margin-left:8%;
    }
    .footer-col-a li{
        margin-left:25%;
    }
    .footer-col{
        margin-left:8%;
    }
    .footer-col li{
        margin-left:25%;
    }
    .footer-col h4{
        margin-left:-8%;
    }
    .footer-col-a h4{
        margin-left:-8%;
    }
    .footer-col-1{
      width: 100%;
    }
    

}
.menu {
    position: fixed;
    width: 100%;

    max-width: 600px;
    min-width: 250px;
    height: 60px;
    bottom: 0px;
    /* border-radius:8px; */
    background-color: #fff;
    border-top: 1px solid #111;

    z-index: 9999999;
    display: none;
    margin-left: 0px;
}

